{% extends 'layout.html.twig' %}

{% block content %}

    <div class="container">
      <hr>
        <h2>Baja</h2>
      <hr>
        <div class="jumbotron" style="padding: 30px;">
          <h4>La baja ha sido realizada con éxito </h4>
          <div id="dataTransfer" class="row justify-content-center">
            <ul>

              <a class="btn btn-dark" href="{{ path('oficina_index') }}" style="margin-top: 10px;">Volver a listado de oficinas</a>
            </ul>
        </div>
        </div>
          <a class="btn btn-dark" href="{{ path('baja_ver_informe', { 'id': bajas.id }) }}" >Ver Informe</a>
      </div>

{% endblock %}

{% block transferenciaJs %}

<script>
  //pdf


              // function genPDF() {
              //   var c = document.getElementById("myCanvas");
              //   var ctx = c.getContext("2d");
              //   ctx.font = "30px Arial";
              //   ctx.fillText("Hello World",10,50);
              //
              //   var doc = new  jsPDF();
              //   var img = ctx.toDataURL();
              //   doc.addImage(img, 'JPEG', 15, 40, 160, 100);
              //   doc.save('text.pdf');
              // }
</script>
{% endblock %}
