
{% block content %}
<pdf>
    <dynamic-page>
      <h2>Informe de Baja de artículo/s</h2>
      <h5>En: {{oficinaOrigen}} </h5>

      <h5 style="font-style: bold;">Artículos dados de baja:</h5>
      {% for i in articulos %}

      <h6 style="font-style: bold;">Denominacion:</h6>   {{i.denominacion}}
      <h6 style="font-style: bold;">Numero de Inventario:</h6>  {{i.numInventario}}

      {% endfor %}

      {% if tieneObservaciones %}
        <h6 style="font-style: bold;">Observaciones:</h6>
        {{baja.observaciones}}
      {% endif %}
  </dynamic-page>
</pdf>

{% endblock %}
