{% extends 'layout.html.twig' %}

{% block content %}
<div class="container">
  <br>
  <a href="{{ path('condicion_index') }}"><i class="fas fa-angle-left"></i> Listado de Condiciones de Artículo</a>
  <br>
    <h2>Condición de Artículo: {{condicion.nombre}}</h2>
    <table class="table table">
        <tbody>
            <tr>
                <th scope="row">Nombre</th>
                <td scope="row">{{ condicion.nombre }}</td>
            </tr>
            <tr>
                <th scope="row">Habilitado</th>
                <td scope="row">{% if condicion.habilitado %}Si{% else %}No{% endif %}</td>
            </tr>
            <tr>
                <th scope="row">Descripción</th>
                <td scope="row">{{ condicion.descripcion }}</td>
            </tr>
        </tbody>
    </table>

{% endblock %}
