<!DOCTYPE html>
<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8" />
        <title>{% block title %}Welcome!{% endblock %}</title>
        {% block stylesheets %}{% endblock %}
        <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}" />
    </head>
    <body>
        {% block body %}{% endblock %}
        {% block javascripts %}{% endblock %}

            <a href="#">Oficinas</a>
            <a href="#">Artículos</a>

        {%if is_granted('ROLE_USER') %}
          <h1>Hola {{ app.user.username}}</h1>
          <li><a href="{{path('fos_user_security_logout')}}">Logout</a></li>
          {%if is_granted('ROLE_ADMINISTRADOR')%}
          <a href="/agregar_oficina">Agregar oficina</a>

          {% endif %}
          {%if is_granted('ROLE_SUPERADMIN')%}
          <a>Agregar Usuario</a>
          {% endif %}
        {% else %}
            <li><a href="{{path('fos_user_security_login')}}">Login</a></li>
            asd
        {% endif %}




    </body>
</html>




<html>
