{% block navbar %}
<nav style="background-color: #1f898e" class="navbar navbar-dark navbar-expand-lg" >
  <a id="a" class="navbar-brand" href="/">INVENTARIO</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
     <span class="navbar-toggler-icon"></span>
   </button>
   <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item">
        <a class="btn mr-sm-2" style="color:white" href="/oficina">Oficinas</a>
      </li>
      <li class="nav-item">
        <a class="btn mr-sm-2" style="color:white" href="/articulo">Artículos</a>
      </li>
      {% if is_granted("ROLE_ADMIN") %}
      <li class="nav-item">
        <a class="btn mr-sm-2" style="color:white" href="#">Informes</a>
      </li>
      {% endif %}
      {% if is_granted("ROLE_SUPER_ADMIN") %}
        <li class="dropdown mr-sm-2">
          <button class="btn btn-secondary dropdown-toggle"
              type="button" id="dropdownMenu1" data-toggle="dropdown"
              aria-haspopup="true" aria-expanded="false" style="background-color:#1f898e; border-color: #1f898e;">Administración</button>
          <div class="dropdown-menu" aria-labelledby="dropdownMenu1">
            <a class="dropdown-item" href="/condicion">Condición</a>
            <a class="dropdown-item" href="/estado">Estados</a>
              <a class="dropdown-item" href="/estadoAdicional">Estados adicionales</a>
            <a class="dropdown-item" href="/tipo">Tipos</a>
            <a class="dropdown-item" href="/user">Usuarios</a>
          </div>
        </li>
      {% endif %}
      {% block login %}
      <li class="nav-item">
        <li class="dropdown mr-sm-2">
          <button class="btn btn-secondary dropdown-toggle"
              type="button" id="dropdownMenu1" data-toggle="dropdown"
              aria-haspopup="true" aria-expanded="false" style="background-color:#1f898e; border-color: #1f898e;"><b>{{ app.user.username }}</b></button>
              <div class="dropdown-menu" aria-labelledby="dropdownMenu1">
                <a class="dropdown-item" href="{{ path('user_edit', {id: app.user.id})}}" >Editar perfil</a>
      </li>
      <li class="nav-item">
        <a class="btn mr-sm-2" style="color:white" href="/logout">Cerrar Sesión</a>
      </li>
      {% endblock %}
    </ul>
  </div>
</nav>
{% endblock %}
