{% extends "layout.html.twig" %}
{% block content %}
{% block arrowBack %}
{% endblock arrowBack %}

<div class="container">

    {% block descriptionTable %}
    {% endblock %}

     <div class="jumbotron">

        {% block new %}
        {% endblock %}

        {% block filters %}
        {% endblock %}

      </div>

      <div class="table-responsive">
        <table id="mytable" class="table table-hover table-striped">
          <thead class="thead-dark">
            <tr>

              {% block headPrincipalTable %}
              {% endblock %}

            </tr>
          </thead>
          <tbody>

            {% block bodyPrincipalTable %}
            {% endblock %}

          </tbody>
        </table>
      </div>
</div>
{{ parent() }}
{% endblock %}
