{% extends 'layout.html.twig' %}

{% block content %}
    <h1>Transferencia</h1>
    <form class="" action="index.html" method="post">
      {% for item in articulos %}
        {{item.id}}
      {% endfor %}
    </form>



{% endblock %}
