{% extends 'base.html.twig' %}

{% block body %}
    <h1>Artículo</h1>

    <table>
        <tbody>
            <tr>
                <th>Denominación</th>
                <td>{{ articulo.denominacion }}</td>
            </tr>
            <tr>
                <th>Número Inventario</th>
                <td>{{ articulo.numeroInventario }}</td>
            </tr>
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('articulo_index') }}">Listado de Artículos</a>
        </li>
        <li>
            <a href="{{ path('articulo_edit', { 'id': articulo.id }) }}">Editar</a>
        </li>
    </ul>
{% endblock %}
