{% extends 'layout.html.twig' %}

{% block content %}
    <div class="container">
      <br>
      <hr>
      <h2>Listado de usuarios</h2>
      <hr>
      <div class="">
        <a class="btn btn-dark" href="{{ path('user_new') }}"><i class="fas fa-plus"></i> Agregar nuevo usuario</a>
      </div>
      <br>
      <div class="table-responsive">
        <table  id="tablaUser"
                class="table table-hover table-striped"
                data-toggle="table"
                data-sort-name="username"
                data-sort-order="desc"
                data-side-pagination="server"
                data-pagination="true"
                data-page-list="[2, 5, 10, 20, 50, 100, 200]"
                data-url="listadoUsers"
                >
          <thead>
            <tr>
              <th scope="row" data-field="username" data-sortable="true">Nombre de usuario</th>
              <th scope="row" data-field="enabled" data-sortable="true">Habilitado</th>
              <th scope="row" data-field="name" data-sortable="true">Nombre</th>
              <th scope="row" data-field="lastname" data-sortable="true">Apellido</th>
              <th data-field="id" data-formatter="operateFormatterAction">Acciones</th>
            </tr>
          </thead>
        </table>
    </div>
  </div>

  <div class="modal fade" id="editModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel">Usuario</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <i class="fas fa-info-circle"></i> Se guardaron los cambios.
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-dark" data-dismiss="modal">Cerrar</button>
        </div>
      </div>
    </div>
  </div>

{% endblock %}

{% block javascripts %}
{{ parent() }}
<script>
  {% if editado == 'editado' %}
    $('#editModal').modal('show');
  {%endif%}

  function operateFormatterAction(value, row, index) {
    show = "{{ path('user_ver', {id: -1})}}";
    show = show.replace('-1', value);
    edit = "{{ path('user_edit', {id: -1})}}";
    edit = edit.replace('-1', value);
    return [
      `<a class="edit ml10" href="${show}" title="Ver usuario"><i class="fas fa-search-plus"></i></a>&nbsp;&nbsp;
      <a class="edit ml10" href="${edit}" title="Editar usuario"><i class="fas fa-edit"></i></a>`,
    ].join('');
  }
  var $table = $('#tablaUser');
</script>
{% endblock %}
