{% extends 'layout.html.twig' %}

{% block content %}
  <div class="container">
    <br>
    <a href="{{ path('oficina_index') }}"><i class="fas fa-angle-left"></i> Listado de Oficinas</a>
    <br>
    <hr>
    <h2>Listado de operaciones</h2>
    <hr>
    {% block filters %}
    <div class="jumbotron" style="padding-top: 1%; padding-bottom: 0%;">
      <h4>Buscar informes de operaciones por:</h4>
       <div class="form-row" >
         <div class="form-group col-md-2">
           <label>Tipo de operación</label>
           <select id="estado" class="form-control" name="estado">
             <option value=""> Seleccione </option>
           </select>
         </div>
         <div class="form-group col-md-12">
           <button id="button" class="btn btn-dark">Buscar</button>
           <button id="buttonBorrar" class="btn btn-dark">Limpiar filtros</button>
         </div>
       </div>
     </div>
    {% endblock %}
    <div class="table-responsive" >
      <table  id="tablaOperaciones"
              class="table table-hover table-striped"
              data-toggle="table"
              data-show-header="true"
              data-height="700"
              data-side-pagination="server"
              data-pagination="true"
              data-page-list="[2, 5, 10, 20, 50, 100, 200]"
              data-url="{{path('informes_list')}}"
              >
        <thead>

          <tr>
            <th scope="row" data-field="tipo" data-sortable="true">Operación</th>
            <th scope="row" data-field="oficinaOrigen" data-sortable="true">Oficina origen</th>
            <th scope="row" data-field="oficinaDestino" data-sortable="true">Oficina destino</th>
            <th scope="row" data-field="fecha.date" data-sortable="true">Fecha</th>
            <th data-field="id" data-formatter="operateFormatterShow">Ver Informe</th>
          </tr>
        </thead>
        <body>

        </body>
      </table>
  </div>
  <hr>
</div>


{% endblock %}

{% block javascripts %}
{{ parent() }}
<script>

var xhttpEstados = new XMLHttpRequest();
xhttpEstados.onreadystatechange = function() {
  if (this.readyState == 4 && this.status == 200) {
    var listado = JSON.parse(this.responseText);
    var estados = listado.rows;
    var opciones = "";
    for(es in estados){
      if (estados[es].habilitado == 'Si') {
        opciones += "<option value= \""+ estados[es].id + "\">"+ estados[es].nombre +"</option>";
      }
    }
    $("#estado").append(opciones);
  }
};
xhttpEstados.open("GET", "{{ path('estado_list') }}", true);
xhttpEstados.send();

  function operateFormatterShow(value, row, index) {
    console.log(row.tipo);
    if (row.tipo == 'Transferencia') {
        edit = "/transferencia/ver_informe/-1";
    }else{
      edit = "/baja/ver_informe/-1";
    }
    edit = edit.replace('-1', value);
    return [
      `<a class="edit ml10" href="${edit}" title="Ver"><i class="far fa-file-alt"></i></a>`,
    ].join('');
  }


</script>
{% endblock %}
{# {% block serchArticulos  %}
<script>
$("button").click(function(){
  var estado = $('#estado').val();
  $.ajax({
    method: "POST",
    url: "informes_listFilter",
    data: {
            "estado":estado,
          } ,
    success: function(data) {

      $table.bootstrapTable('load',data);
      }
    });
  });

  $("#buttonBorrar").click(function(){
    $('#estado').val('');
    var estado = $('#estado').val();
    $.ajax({
      method: "POST",
      url: "informes_listFilter",
      data: {
              "estado":estado,
            } ,
      success: function(data) {
        //alert(data);
        $table.bootstrapTable('load',data);
        }
      });
    });

</script>
{% endblock %} #}
