{% extends 'layout.html.twig' %}

{% block content %}
  <div class="container">
    <br>
    <a href="{{ path('oficina_index') }}"><i class="fas fa-angle-left"></i> Listado de Oficinas</a>
    <br>
    <hr>
    <h2>Listado de operaciones</h2>
    <hr>
    {% block filters %}
    <div class="jumbotron" style="padding-top: 1%; padding-bottom: 0%;">
      <h4>Buscar informes de operaciones por:</h4>
       <div class="form-row" >
         <div class="form-group col-md-3">
           <label>Tipo de operación</label>
           <select id="estado" class="form-control" name="estado">
             <option value="">Seleccione</option>
           </select>
         </div>
       </div>
     </div>
    {% endblock %}
    <div class="table-responsive" >
      <div id="toolbar">
          <button id="button" hidden class="btn btn-dark"><i class="fa fa-search" aria-hidden="true"></i> Buscar</button>
          <button id="buttonBorrar" hidden class="btn btn-dark">Limpiar filtros</button>
     </div>
      <table  id="table"
              data-toggle="table"
              data-toolbar="#toolbar"
              data-search="true"
              data-sort-name="fecha"
              data-sort-order="desc"
              data-url="{{path('informes_list')}}"
              >
        <thead>
          <tr>
            <th scope="row" data-field="fecha" data-sortable="true">Fecha</th>
            <th scope="row" data-field="tipo" data-sortable="true">Operación</th>
            <th scope="row" data-field="oficinaOrigen" data-sortable="true">Oficina origen</th>
            <th scope="row" data-field="oficinaDestino" data-sortable="true">Oficina destino</th>
            <th data-field="id" data-formatter="operateFormatterShow">Ver Informe</th>
          </tr>
        </thead>
      </table>
  </div>
</div>
{% endblock %}

{% block javascripts %}
{{ parent() }}
<script>

var xhttpEstados = new XMLHttpRequest();
xhttpEstados.onreadystatechange = function() {
  if (this.readyState == 4 && this.status == 200) {
    var listado = JSON.parse(this.responseText);
    var estados = listado.rows;
    var opciones = "";
    for(es in estados){
      if (estados[es].habilitado == 'Si' && estados[es].nombre != 'Activo') {
        opciones += "<option value= \""+ estados[es].id + "\">"+ estados[es].nombre +"</option>";
      }
    }
    $("#estado").append(opciones);
  }
};
xhttpEstados.open("GET", "{{ path('estado_list') }}", true);
xhttpEstados.send();

  function operateFormatterShow(value, row, index) {
    if (row.tipo == 'Transferencia') {
        edit = "/transferencia/ver_informe/-1";
    }else{
      edit = "/baja/ver_informe/-1";
    }
    edit = edit.replace('-1', value);
    return [
      `<a class="edit ml10 btn btn-sm btn-outline-primary" href="${edit}" title="Ver informe"><i class="far fa-file-alt"></i></a>`,
    ].join('');
  }


</script>
{% endblock %}
{% block serchArticulos  %}
<script>
$('#estado').change(function () {
    var seleccion = '';
    var $table = $('#table');
    seleccion = $('#estado option:selected').text();
    console.log(seleccion);

    if (seleccion != 'Seleccione'){
      $table.bootstrapTable('filterBy', {
        tipo: seleccion
      });
    }else {
      console.log(seleccion);
      $table.bootstrapTable('filterBy', {});
    }
});

</script>
{% endblock %}
