{% extends 'base.html.twig' %}

{% block body %}
    <h1>Editar Condición</h1>

    {{ form_start(edit_form) }}
        {{ form_widget(edit_form) }}
        <input type="submit" value="Editar" />
    {{ form_end(edit_form) }}

    <ul>
        <li>
            <a href="{{ path('condicionarticulo_index') }}">listado de Condiciones</a>
        </li>
    </ul>
{% endblock %}
