{% extends 'layout.html.twig' %}

{% block content %}
<div class="container">
  <br>
  <a href="{{ path('articulo_index') }}"><i class="fas fa-angle-left"></i> Volver </a>
  <br>
  <hr>
    <h2>Artículo: {{articulo.denominacion}}</h2>
<hr>
    <table style="margin: 15px;" class="table table">
        <tbody>
            {%  for h in historial %}
              <tr>
                  <th scope="row">Desde:</th>
                  <td scope="row">{{ h.fechaDesde }}</td>

                  {% if h.estado == false %}
                    <th scope="row"> en: </th>
                    <td scope="row">{{ h.oficina }}</td>
                  {% else %}
                    <td><p style="color:red">El articulo fue dado de baja.</p></td>
                  {% endif %}
              </tr>
            {% endfor %}
        </tbody>
    </table>
    <br>
</div>






{% endblock %}
