{% extends 'base.html.twig' %}

{% block body %}
    <h1>Tipo artículo</h1>

    <table>
        <tbody>
            <tr>
                <th>Código</th>
                <td>{{ tipoArticulo.codigo }}</td>
            </tr>
            <tr>
                <th>Habilitado</th>
                <td>{% if tipoArticulo.habilitado %}Si{% else %}No{% endif %}</td>
            </tr>
            <tr>
                <th>Descripción</th>
                <td>{{ tipoArticulo.descripcion }}</td>
            </tr>
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('tipoarticulo_index') }}">Listado Tipos de Artículos</a>
        </li>
        <li>
            <a href="{{ path('tipoarticulo_edit', { 'id': tipoArticulo.id }) }}">Editar</a>
        </li>
    </ul>
{% endblock %}
